html {
	scroll-behavior: smooth;
}

.app {
	position: relative;
}

a.action-button {
	position: fixed;
	right: 0.35rem;
	bottom: 0.75rem;
	background-color: #64979e;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
}

a.action-button > img {
	filter: invert();
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding: 0.75rem;
}

.form {
	background-color: #365256;
	padding: 2rem 0.75rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.form label span {
	color: #fff;
	margin-right: 15px;
	margin-left: 30px;
}

.form label input {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	min-width: 200px;
	height: 40px;
	padding: 0 0.75rem;
	border-radius: 4px;
	border: none;
}

.form button {
	background-color: #96e4ef;
	border: 0;
	outline: 0;
	padding: 0.75rem;
	max-height: 40px;
	min-width: 150px;
	font-weight: 700;
	color: #000;
	margin-left: 30px;
	text-transform: uppercase;
}

button:hover {
	background-color: #82c6cf;
}

div.warning-erro {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
	padding: 0.75rem 1.25rem;
	border: 1px solid transparent;
}

@media (max-width: 1250px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 850px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}

	.form label {
		position: relative;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 1rem;
		width: 100%;
	}

	.form label span {
		margin: 0;
	}

	.form button {
		margin: 0;
		width: 100%;
	}
}
